---
import MovieCast from "../components/MovieCast.astro";
const { h2, stars, genres, rating, lang, description, release } = Astro.props;
//TODO
//genres classification
//actors fetch
---

<div
  class="absolute w-screen mt-mitad px-10 bg-white dark:bg-gray-800 rounded-t-xl"
>
  <div class="flex flex-col flex-start">
    <div class="flex gap-2 items-center justify-between">
      <h2
        class="text-3xl mt-6 font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {h2}
      </h2>
      <button>
        <svg
          class="text-black w-4 h-5 mt-5 dark:text-white hover:text-yellow-500 dark:hover:text-yellow-300"
          viewBox="0 0 14 16"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.2127 0.0952657C13.4531 0.186901 13.6446 0.331356 13.7869 0.528887C13.9289 0.726308 14 0.944767 14 1.18452V14.8156C14 15.0554 13.929 15.2738 13.7868 15.4712C13.6446 15.6688 13.4531 15.8134 13.2126 15.9049C13.0741 15.9613 12.9136 15.9893 12.7313 15.9893C12.3814 15.9893 12.0788 15.8765 11.8235 15.6513L7.00004 11.1671L2.17653 15.6512C1.91396 15.8836 1.61151 16 1.26868 16C1.101 16 0.940528 15.9683 0.787521 15.905C0.54694 15.8134 0.355471 15.6688 0.213305 15.4714C0.0711784 15.2738 0 15.0555 0 14.8156V1.18438C0 0.944619 0.0711784 0.72616 0.213305 0.528739C0.355471 0.331319 0.54694 0.186679 0.787521 0.0951175C0.940681 0.0317429 1.101 0 1.26868 0H12.7313V0.000148158C12.8991 0.000148158 13.0595 0.031891 13.2127 0.0952657ZM7.97354 10.1942L12.6001 14.4876V1.35377H1.40015V14.4876L6.02667 10.1942L7.00006 9.29545L7.97354 10.1942Z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="flex items-center mt-2.5 mb-5">
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-yellow-300"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><title>First star</title><path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path></svg
      >
      <span class="text-blue-800 text-xs font-semibold rounded dark:text-white"
        >{stars}</span
      >
    </div>
    <div class="flex flex-row gap-2 flex-wrap uppercase">
      {
        genres.map((genre) => {
          return (
            <>
              <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2 py-0.5 rounded-xl dark:bg-blue-200 dark:text-blue-800">
                {genre}
              </span>
            </>
          );
        })
      }
    </div>

    <div class="flex mt-4 items-center">
      <svg
        class="w-5 h-5 mt-1.5 text-black-500 dark:text-gray-400"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.5.877a6.623 6.623 0 1 0 0 13.246A6.623 6.623 0 0 0 7.5.877ZM1.827 7.5a5.673 5.673 0 1 1 11.346 0 5.673 5.673 0 0 1-11.346 0ZM8 4.5a.5.5 0 0 0-1 0v3a.5.5 0 0 0 .146.354l2 2a.5.5 0 0 0 .708-.708L8 7.293V4.5Z"
        ></path></svg
      >
      <p class="text-sm dark:text-gray-400">1h 45m</p>
    </div>
  </div>

  <div class="grid grid-cols-3 mx-auto mt-4 dark:text-white">
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Release</p>
      <span>{release}</span>
    </div>
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Language</p>
      <span class="uppercase">{lang}</span>
    </div>
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Rating</p>
      <span>{rating}</span>
    </div>
  </div>

  <div class="mt-8 pb-20">
    <h3 class="text-black dark:text-white text-xl">Description</h3>
    <p class="mt-2 text-gray-500 dark:text-gray-400">
      {description}
    </p>
  </div>
  <!-- <MovieCast /> -->
</div>

<style>
  .mt-mitad {
    margin-top: 48vh;
  }
</style>