---
import MovieCast from "../components/MovieCast.astro";
const { h2, stars, genres, rating, lang, description, release, runtime } = Astro.props;
import { getGenres } from "../api/main.js";
const generos = await getGenres();
// console.log(generos); //todos los generos que hay con sus ids

// console.log(genres); //los generos de la pelicula

//* Procesar el Runtime
const hours = Math.floor(runtime / 60);
const minutes = runtime % 60;
const duration = `${hours}h ${minutes}m`;

//Procesar Language
let language = lang
lang == 'en' ? language = 'English' : language = 'Other'
---

<div
  class="absolute w-screen mt-mitad px-10 bg-white dark:bg-gray-800 rounded-t-xl"
>
  <div class="flex flex-col flex-start">
    <div class="flex gap-2 items-center justify-between">
      <h2
        class="text-3xl mt-6 font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {h2}
      </h2>
      <button class="text-gray-400 mt-4 p-2 bg-gray-100 dark:bg-gray-700 rounded-full inline-flex justify-center items-center">
        <svg class="w-8 h-8 hover:text-yellow-300 icon flat-line" viewBox="0 0 24 24" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" ><path d="m12 17-7 4V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v17Z" style="fill:transparent;stroke-width:2"/><path d="m12 17-7 4V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v17Z" style="fill:currentcolor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2"/></svg>
      </button>
    </div>
    <div class="flex items-center mt-2.5 mb-5">
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-yellow-300"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><title>First star</title><path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path></svg
      >
      <span class="text-blue-800 text-xs font-semibold rounded dark:text-white"
        >{stars}</span
      >
    </div>
    <div class="flex flex-row gap-2 flex-wrap uppercase">
      {
        genres.map((genre) => {
          return (
            <>
              <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-3 py-0.5 rounded-xl dark:bg-blue-200 dark:text-blue-800">
                {genre.name}
              </span>
            </>
          );
        })
      }
    </div>

    <div class="flex mt-4 items-center">
      <svg
        class="w-5 h-5 mt-1.5 text-black-500 dark:text-gray-400"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.5.877a6.623 6.623 0 1 0 0 13.246A6.623 6.623 0 0 0 7.5.877ZM1.827 7.5a5.673 5.673 0 1 1 11.346 0 5.673 5.673 0 0 1-11.346 0ZM8 4.5a.5.5 0 0 0-1 0v3a.5.5 0 0 0 .146.354l2 2a.5.5 0 0 0 .708-.708L8 7.293V4.5Z"
        ></path></svg
      >
      <p class="text-sm dark:text-gray-400">{duration}</p>
    </div>
  </div>

  <div class="grid grid-cols-3 mx-auto mt-4 dark:text-white">
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Release</p>
      <span>{release}</span>
    </div>
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Language</p>
      <span class="">{language}</span>
    </div>
    <div>
      <p class="text-gray-500 dark:text-gray-400 mb-1">Rating</p>
      <span>{rating}</span>
    </div>
  </div>

  <div class="mt-8">
    <h3 class="text-black dark:text-white text-xl">Description</h3>
    <p class="mt-2 text-gray-500 dark:text-gray-400">
      {description}
    </p>
  </div>
  <MovieCast />
</div>

<style>
  .mt-mitad {
    margin-top: 48vh;
  }
</style>
